@media screen and (max-width: 481px) {
    .cartao {
        max-height: 300px;
        max-width: 420px;

    }

    .cartao .conselho {
        font-size: 20px;
        padding: 0 10px;
        margin-bottom: 30px;
    }

    .caixa-de-texto {
        height: 100%;
        margin: 55px 10px;
    }

}


@media screen and (max-width: 435px) {
    .cartao {
        max-width: 400px;

    }

}

@media screen and (max-width: 395px) {
    .cartao {
        max-width: 370px;

    }

    .caixa-de-texto {
        height: 100%;
        margin: 55px 5px;
    }

}